.profileIcon{
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
.ava{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
}
.profile{
    display: flex;
    align-items: center;
    position: relative;
}
.arrow{
    cursor: pointer;
}
.list{
    position: absolute;
    top: 40px;
    right: 0;
    list-style: none;
}
.item{
    border: 1px solid #27832F;
    width: 100px;
    padding: 8px;
    text-align: right;
    margin: 2px;
    cursor: pointer;
    border-radius: 6px;
    background-color: #fff;
}
.item:hover{
    background-color: #27832F;
    color: #fff;
}
.btn{
    width: 16px;
    height: 16px;
}