.heading{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #27832F;
    padding: 0 8px;
    margin: 0;
    background-color: #3CC948;
    border-radius: 4px;
}
.idea{
    border: 1px solid #111;
    background-color: #3CC948;
    border-radius: 4px;
    margin: 0 0 1px 0;
    color: #fff;
    padding: 4px;
    cursor: pointer;
}
.idea:hover{
    opacity: .8;
}
.list{
    margin: 1px 0 0 0;
    list-style: none;
}
.h2{
    color: #fff;
    padding: 4px;
}