.form {
    position: relative;
    width: 300px;

}
.input, .btn {
    border: none;
    outline: none;
}
.input {
    width: 100%;
    height: 42px;
    background: #F9F0DA;
    padding-left: 15px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
}
.btn {
    height: 26px;
    width: 36px;
    position: absolute;
    top: 8px;
    right: 8px;
    background: #c95948;
    cursor: pointer;
    border-radius: 6px;
}
.btn:hover{
    opacity: .9;
}
.btn svg{
    fill: #fff;
}