.content {
    max-width: 1300px;
    margin-left: 100px;
    padding: 5px 35px;
}

.avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.avatarEdit {
    margin-left: -16px;
}

.infoTop {
    display: flex;
    align-items: center;
}

.nameRole {
    margin: 0 0 0 24px;
}

.role {
    color: rgb(132, 136, 152);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.header {
    color: rgb(18, 18, 19);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    margin: 48px 0 24px 0;
}

.subInput {
    color: rgb(17, 59, 152);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    padding: 4px;
    border-radius: 5px;
    background: rgb(235, 240, 251);
    margin: 0 0 -4px 12px;
    z-index: 12;
    max-width: 80px;
    text-align: center;

}

.input {
    box-sizing: border-box;
    border: 1px solid rgb(234, 236, 242);
    border-radius: 12px;
    background: rgb(255, 255, 255);
    width: 555px;
    padding: 8px 16px;
    margin: 0 0 24px 0;
}

.input2 {
    box-sizing: border-box;
    border: 1px solid rgb(234, 236, 242);
    border-radius: 12px;
    background: rgb(255, 255, 255);
    width: 264px;
    padding: 8px 16px;
    margin: 0 28px 24px 0;
}

.block {
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.password {
    color: rgb(23, 81, 208);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.05px;
    display: flex;
    align-items: center;
}

.icon {
    margin: 5px 5px 0 0;
}

.btn1 {
    display: flex;
    border-radius: 6px;
    background: rgb(23, 81, 208);
    padding: 10px 15px;
    max-width: 112px;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 32px;
}

.btn2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 6px;
    box-shadow: 0px 1.5px 4px -1px rgba(10, 9, 11, 0.07);
    background: rgb(255, 255, 255);
    padding: 10px 15px;
    max-width: 88px;

}

.name2 {
    color: rgb(79, 77, 85);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.18px;
}

.name1 {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.18px;
}

.buttons {
    display: flex;
    align-items: center;
    margin: 116px 0 10px 0;
}