.form {
    width: 256px;
    height: 42px;
    background: #3CC948;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding: 2px 56px 2px 12px;
    border: 1px solid #27832F;
    margin: 0 24px 0 0;
}
.form::placeholder{
    color: #fff;
    opacity: .9;
}
.btn{
    height: 42px;
    background: #27832F;
    cursor: pointer;
    border-radius: 6px;
    color: #fff;
    padding: 4px 8px;
    border: 1px solid #fff;
    font-weight: bold;
    font-size: 16px;
}
.btn:hover{
    color: #27832F;
    background: #fff;
    border: 1px solid #27832F;
}